/*************** reset css***************/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/************* fin reset css*************/

body {
    width: 100%;
    height: auto;
    font-family: 'georgia';
}

#presentation h1,
#formations h1,
#competences h1,
#experiences h1,
#contact h1 {
    font-size: 30px;
    text-align: center;
    font-style: italic;
    color: #02A88B;
    padding-top: 70px;
}

#competences h1,
#formations h1,
#experiences h1,
#contact h1 {
    padding-bottom: 50px;
}

.experiences_text1 h2,
.timeline-content h2 {
    font-size: 18px;
    color: black;
    font-weight: 600;
    font-style: italic;
    padding-bottom: 10px;
}

.timeline_date,
.intervalle_temps {
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

.formations_item:hover .timeline_date,
.experiences_item:hover .intervalle_temps {
    background-color: rgba(6, 104, 87, 0.9);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}


/************* header *************/

header {
    width: 100%;
    height: 673px;
    background: url(../images/ordinateur-portable-et-smartphone.jpg) no-repeat;
    background-size: cover;
}

.container-header {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titre_develoeloppeur_web {
    border: 2px #02A88B solid;
    border-bottom: none;
    position: relative;
    text-align: center;
}

header h1 {
    font-size: 40px;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 45px 30px 45px 30px;
    font-family: cursive;
}

header p {
    font-size: 25px;
    color: white;
    font-style: italic;
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    padding: 0px 10px;
}

.scroll a {
    position: absolute;
    bottom: -150px;
    text-decoration: none;
}

.scroll {
    font-size: 40px;
    cursor: pointer;
    -moz-animation: bounce 2s infinite linear;
    -webkit-animation: bounce 2s infinite linear;
    -o-animation: bounce 2s infinite linear;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.titre_develoeloppeur_web::before {
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 2px #02A88B solid;
    width: 110px;
    content: " ";
}

.titre_develoeloppeur_web::after {
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 2px #02A88B solid;
    width: 110px;
    content: " ";
}


/************* nav *************/

.icone_menu,
.icone_close {
    width: 60px;
    line-height: 60px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: #02A88B;
}

.icone_menu {
    font-size: 30px;
}

nav {
    padding: 30px;
    background-color: rgba(1, 1, 1, 0.7);
    z-index: 1;
    display: none;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 20px;
}

nav a:hover {
    color: #02A88B;
}

.icone_menu,
.icone_close,
nav {
    position: fixed;
    right: 5px;
    top: 5px;
}

.icone_close {
    font-size: 20px;
}

.fa-times {
    color: white;
}


/************* fin nav *************/


/************* fin header *************/


/************* presentation*************/

#presentation {
    width: 100%;
}

.container_presentation {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-radius: 50px;
}

.text_presentation {
    width: 75%;
}

.text_presentation p {
    font-size: 20px;
    line-height: normal;
    padding: 5px 5px 5px 50px;
}

.photo_zoulikha {
    height: auto;
    border-radius: 100%;
    border: 15px solid rgba(51, 186, 181);
}


/************* fin presentation*************/


/************* formation *************/

#formations {
    width: 100%;
    height: auto;
    background-color: #E2E3DF;
}

.container_formations {
    width: 80%;
    height: auto;
    margin: auto;
}

.formations_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.timeline_date {
    width: 110px;
    height: 110px;
    background-color: #02A88B;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.timeline-content {
    width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: normal;
    padding: 40px;
    position: relative;
}

.timeline-content h3 {
    color: #02A88B;
    padding-bottom: 20px;
}

.carre {
    width: 20px;
    height: 20px;
    background-color: white;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: -10px;
    bottom: 45%;
}


/************* fin formation *************/


/************* Compétences*************/

#competences {
    width: 1OO%;
    height: 673px;
    background: url(../images/finger-pressing-computer-keyboard.jpg) no-repeat;
    background-size: cover;
    color: white;
}

.competences_container {
    width: 1OO%;
    height: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.languages,
.frameworks {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.languages h5,
.frameworks h5 {
    text-transform: uppercase;
    font-weight: lighter;
    margin-bottom: 10px;
}

.competences_container h2 {
    font-size: 20px;
}


/************* fin Compétences*************/


/************* Expériences*************/

#experiences {
    width: 100%;
    background-color: #E2E3DF;
    padding-bottom: 20px;
}

.experiences_item {
    width: 85%;
    height: 135px;
    background-color: white;
    margin: auto;
    color: white;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

.intervalle_temps {
    width: 110px;
    height: 110px;
    background-color: #02A88B;
    border: 20px #E2E3DF solid;
    border-radius: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 30px;
}

.experiences_text1 {
    width: 25%;
    padding: 20px;
}

.experiences_text1 h3,
.experiences_text2 P {
    line-height: normal;
    color: rgba(1, 1, 1, 0.8);
}

.experiences_text2 {
    width: 50%;
    padding: 20px;
}


/************* fin Expériences*************/


/************* contact*************/

#contact {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

.container_contact {
    width: 80%;
    height: auto;
    margin: auto;
    text-align: center;
}

button {
    width: 270px;
    height: 50px;
    background-color: grey;
    border: none;
    color: white;
    margin: 0 25px;
}

#cv_pdf {
    background-color: grey;
    text-decoration: none;
    color: white;
    padding: 16px;
    margin: 0 25px;
    ;
    border-radius: 30px;
}

.social_media {
    text-decoration: none;
    color: grey;
    margin: 20px;
}


/************* fin contact*************/


/*#02A88B*/


/*#81B71A*/


/*#2B303B*/


/*#FE8E22*/


/*#4B061B*/